    <div class="row eventContainer">

        <div class="col-lg-10 col-sm-12">
            <img src="https://picsum.photos/1000/800"/>
            <p><small>Sun, 17 Feb 2019 20:14:14 +0000</small></p>
        </div>

        <div class="col-lg-2 col-sm-12">
            <div id="eventControls">
                <h1 class="h3 mb-3 font-weight-normal">RasphotoD</h1>
                <div class="actionButtons">
                    <button id="btnNewPhoto" class="btn btn-lg btn-block btn-outline-primary btn-primary">New Photo</button>
                    <button id="btnEndEvent" class="btn btn-lg btn-block btn-outline-primary">End Event</button>
                    <button id="btnBackHome" class="btn btn-lg btn-block btn-outline-primary">Back</button>   
                </div>
                <div id="output">&nbsp;</div>
                <div><small>Version 0.1 2/17/2019</small></div>                
            </div>                
        </div>

    </div>